<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="shared-styles.html">

<dom-module id="command-table">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 4px;
            }

            code {
                background-color: var(--app-secondary-color);
                color: var(--app-primary-color2);
                font-weight: normal;
                padding: 0.1em 0.3em 0.1em;
                font-family: monospace;
            }

            p {
                color: rgb(189, 189, 189);
                padding: 4px;
            }

            h1 {
                color: rgb(189, 189, 189);
                font-size: 150%;
                padding-bottom: 8px;
                border-bottom: 1px solid rgb(189, 189, 189);
            }

            h2 {
                color: rgb(189, 189, 189);
                font-size: 90%;
                padding-bottom: 1px;
            }

            
            h3 {
                color: rgb(139, 139, 139);
                font-size: 70%;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
                border: 1px solid #bbb;
                width: 25%;
                text-align: left;
                margin: 0.8em;
            }

            td,
            th {
                padding: 4px 8px;
                text-align: center;
                max-width: 25vw;
                text-align: left;
            }

            tbody tr:nth-child(even) td {
                background-color: var(--app-secondary-color);
            }

            .description {
                background-color: var(--app-secondary-color);
                margin: 0.8em;
            }

            .code {
                background-color: var(--app-secondary-color);
                color: rgb(189, 189, 189);
                margin: 2px 0 0 .8em;
                padding-left: 2px;
                width: 40%;
                font-weight: normal;
                font-family: monospace;
                word-break: break-word;
            }
        </style>

        <template is="dom-repeat" items="[[commands]]" as="info">

            <div class="title">
                <h1><template is="dom-if" if="[[info.nsfw]]">NSFW </template>Command: <code>[[info.command]]</code></h1>
            </div>
            <div class="description">
                <p>
                    <template is="dom-repeat" items="[[info.description]]" as="de">[[de]]<br></template>
                </p>
            </div>

            <template is="dom-if" if="[[_hasData(info.aliases)]]">
                <h2>Command aliases</h2>
                <template is="dom-repeat" items="[[info.aliases]]" as="alias">
                    <div class="code">
                        [[alias]]<br>
                    </div>
                </template>
            </template>

            <template is="dom-if" if="[[_hasData(info.example)]]">
                <h2>Example usage</h2>
                <template is="dom-repeat" items="[[info.example]]" as="example">
                    <div class="code">
                        [[example]]<br>
                    </div>
                </template>
            </template>

            <template is="dom-if" if="[[_hasData(info.member)]]">
                <h2>Permissions needed by user</h2>
                <template is="dom-repeat" items="[[info.member]]" as="perms">
                    <div class="code">
                        [[perms]]<br>
                    </div>
                </template>
            </template>

            <template is="dom-if" if="[[_hasData(info.client)]]">
                <h2>Permissions needed by bot</h2>
                <template is="dom-repeat" items="[[info.client]]" as="perms">
                    <div class="code">
                        [[perms]]<br>
                    </div>
                </template>
            </template>

            <template is="dom-if" if="[[info.guildOnly]]">
                <h3>This command can only be executed in a guild. No DMs.</h3>
            </template>

            <template is="dom-if" if="[[info.owner]]">
                <h3>Only a bot owner can run this command.</h3>
            </template>

        </template>

    </template>

    <script>
        class SBCommand extends Polymer.Element {
            static get is() { return 'command-table'; }
            constructor() {
                super();
            }

            _hasData(data) {
                if (!Array.isArray(data)) return false;
                if (!data[0]) return false;
                return true;
            }
        }
        window.customElements.define(SBCommand.is, SBCommand);
    </script>
</dom-module>