<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<link rel="import" href="shared-styles.html">

<dom-module id="plugin-item">
    <template>
        <style include="iron-flex"></style>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
                --card-text-color: rgb(139, 139, 139);
            }

            :host(.disabled) {
                opacity: 0.6;
                height: 100%;
            }

            #name {
                -webkit-margin-end: 8px;
            }

            #description {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                height: 100%;
            }

            #description,
            #button-strip {
                color: var(--card-text-color);
                font-weight: 400;
            }

            #card {
                font-size: 81.25%;
                border-radius: 0px;
                width: 100%;
                height: 100%;
            }

            #main {
                display: flex;
                flex-grow: 1;
                padding: 16px 20px 17px;
                min-height: 60px;
            }

            #content {
                -webkit-margin-start: 24px;
                display: flex;
                flex-direction: column;
            }

            #toggle {
                float: right;
            }

            paper-button {
                font-weight: 500;
            }

            #card {
                color: var(--card-text-color);
                background: var(--app-secondary-color);
            }

            .card-action {
                border-top: 1px solid var(--card-text-color);
                padding: 5px 16px;
                position:relative;
            }
            #success {
                color: green;
            }
            #error {
                color: red;
            }
        </style>

        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

        <iron-ajax
            id="setPluginCFG"
            method="POST"
            handle-as="json"
            content-type="application/json"
            on-response="success"
            lastError="error"
            debounce-duration="3000">
        </iron-ajax>

        <paper-card id="card">
            <!-- <div class="card-content"> -->
            <div id="main">
                <div id="content">
                    <div id="name">[[plugin.plugin_title]]</div>
                    <div id="description">[[plugin.description]]</div>
                    <div id="success"></div>
                    <div id="error"></div>
                </div>
            </div>
            <!-- </div> -->
            <div class="card-action">
                <div id="button-strip" class="layout horizontal center">
                    <div class="layout flex horizontal center">
                        <paper-button on-click="reload">RELOAD</paper-button>
                    </div>
                    <custom-style>
                        <style is="custom-style">
                            paper-toggle-button.toggle-button {
                                --paper-toggle-button-checked-bar-color: var(--app-primary-color);
                                --paper-toggle-button-checked-button-color: var(--app-primary-color);
                                --paper-toggle-button-checked-ink-color: var(--app-primary-color);
                                --paper-toggle-button-unchecked-bar-color: var(--app-primary-color);
                                --paper-toggle-button-unchecked-button-color: var(--app-primary-color);
                                --paper-toggle-button-unchecked-ink-color: var(--app-primary-color);
                            }
                        </style>
                    </custom-style>
                    <paper-toggle-button class="toggle-button" on-change="toggle" id="toggle" checked$="[[plugin.enabled]]"></paper-toggle-button>
                </div>
            </div>
        </paper-card>

    </template>

    <script>
        class SBPlugin extends Polymer.Element {
            static get is() { return 'plugin-item'; }
            constructor() {
                super();
            }
            ready() {
                super.ready();
                this.className = !this.plugin.enabled ? 'disabled' : '';
            }
            connectedCallback() {
                // noop
            }
            reload() {
                this.$.setPluginCFG.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                this.$.setPluginCFG.body = JSON.stringify({
                    enabled: this.plugin.enabled,
                    reload: true,
                    plugin_title: this.plugin.plugin_title
                });
                this.$.setPluginCFG.url = '/api/plugin/reload';
                this.$.setPluginCFG.generateRequest();
            }
            toggle() {
                this.className = this.plugin.enabled ? 'disabled' : '';
                this.plugin.enabled = !this.plugin.enabled;
                this.$.setPluginCFG.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                this.$.setPluginCFG.body = JSON.stringify({
                    enabled: this.plugin.enabled,
                    reload: false,
                    plugin_title: this.plugin.plugin_title
                });
                this.$.setPluginCFG.url = '/api/plugin/set-state';
                this.$.setPluginCFG.generateRequest();
            }
            success(event) {
                this.$.success.textContent  = event.detail.response.message;
            }
            error(msg) {
                console.error(msg);
            }
        }
        window.customElements.define(SBPlugin.is, SBPlugin);
    </script>
</dom-module>