<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="shared-styles.html">

<link rel="import" href="command-table.html">

<dom-module id="sb-commands">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 16px;
                --separator-line: 1px solid rgba(0, 0, 0, 0.06);
            }

            .command-card {
                line-height: var(--separator-line);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
                background-color: var(--app-primary-background-color);
                border-radius: 2px;
                margin: 0 auto 16px auto;
                padding-bottom: 8px;
                width: 100%;
            }

            #description {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                height: 100%;
                color: var(--app-secondary-color);
                font-weight: 200;
                font-size: 75%;
            }

            #card {
                border-radius: 0px;
                width: 100%;
                height: 100%;
            }

            #main {
                
                font-size: 150%;
                display: flex;
                flex-grow: 1;
                padding: 10px 20px 10px;
                border-bottom: var(--separator-line);
                color: var(--app-primary-background-color);
                background: var(--app-primary-color2);
            }

            #content {
                display: flex;
                flex-direction: column;
            }
        </style>

        <iron-ajax id="getConfig" method="get" url="/commands.json" handle-as="json" last-response="{{config}}"></iron-ajax>

        <template is="dom-repeat" items="[[_commandList(config,filterBy)]]" as="match">
            <div class="command-card">
                <div id="main">
                    <div id="content">
                        <div id="name">Module: [[match.plugin_title]]</div>
                        <div id="description">[[match.description]]</div>
                    </div>
                </div>
                <div class="content">
                    <command-table id="commandList" commands="[[match.commands]]"></command-table>
                </div>
            </div>
        </template>

    </template>

    <script>
        class MyView2 extends Polymer.Element {
            static get is() { return 'sb-commands'; }
            constructor() {
                super();
            }

            _commandList(conf, search = this.find) {
                if (!Array.isArray(conf)) return [];
                let p = JSON.parse(JSON.stringify(conf));

                p.forEach(plugin => {
                    plugin.commands.forEach(command => {
                        if (!Array.isArray(command.description)) {
                            command.description = [command.description];
                        }
                        if (!Array.isArray(command.aliases)) {
                            command.aliases = [command.aliases];
                        }
                        if (!Array.isArray(command.example)) {
                            command.example = [command.example];
                        }
                    });
                });

                if (search) {
                    search = search.toLowerCase();
                    let showPlugins = [];
                    p.forEach((plugin, index) => {
                        if (plugin.plugin_title.toLowerCase().indexOf(search) !== -1) showPlugins.push(plugin);
                    });
                    if (showPlugins.length) {
                        return showPlugins;
                    }
                    return p.filter(plugin => {
                        plugin.commands = plugin.commands.filter(command => {
                            let inc = false;
                            command.description.forEach(v => {
                                if (v && v.toLowerCase().indexOf(search) !== -1) {
                                    inc = true;
                                }
                            });
                            command.aliases.forEach(v => {
                                if (v && v.toLowerCase().indexOf(search) !== -1) {
                                    inc = true;
                                }
                            });
                            if (command.command.toLowerCase().indexOf(search) !== -1) {
                                inc = true;
                            }
                            return inc;
                        });
                        return plugin.commands.length;
                    });
                }
                return p;
            }

            ready() {
                super.ready();
                this.searchEl.hidden = false;
                let url = new URL(window.location.href);
                this.find = url.searchParams.get('search');
                if(this.find) this.searchEl.term = this.find;
                this.searchEl.showSearch();
                this.$.getConfig.generateRequest();
            }
        }
        window.customElements.define(MyView2.is, MyView2);
    </script>
</dom-module>