<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="shared-styles.html">

<dom-module id="sb-config">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
                display: flex;
                flex-direction: horizontal;
                margin-top: 18px;

            }

            #wrapper {
                min-width: 250px;
                width: 100%;
                padding: 3em;
                font-size: 81.25%;
            }

            #card {
                border-radius: 0px;
                width: 100%;
            }

            #name {
                -webkit-margin-end: 8px;
            }

            #main {
                padding: 16px 20px 17px;
            }

            #content {
                width: 100%;
            }

            .right {
                float: right
            }

            #description {
                color: var(--paper-grey-600);
                font-weight: 400;
            }

            #button-strip {
                padding-bottom: 37px;
            }

            paper-button {
                color: var(--paper-grey-600);
                font-weight: 500;
            }

            paper-button.save {
                background-color: var(--app-primary-color);
                color: white;
            }
        </style>

        <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>

        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

        <iron-ajax id="getConfig" method="get" url="/api/config" handle-as="json" last-response="{{config}}"></iron-ajax>

        <div id="wrapper">
            <iron-form id="form1">
                <form action="/api/config" method="post">
                    <paper-card id="card">
                        <div id="main">
                            <div id="content">

                                <div id="name">Bot settings</div>
                                <div id="description">You may need to restart the bot before the settings take effect.</div>

                                <paper-input type="text" name="bot_token" allowed-pattern="[0-9a-zA-Z\._-]" required label="Bot Token" value="{{config.bot_token}}"></paper-input>

                                <paper-input type="text" name="dbl_token" allowed-pattern="[0-9a-zA-Z\._-]" label="DiscordBotsList Token" value="{{config.dbl_token}}"></paper-input>

                                <paper-input type="text" name="owner_id" allowed-pattern="[0-9]" required label="Bot owner's Discord ID" value="{{config.owner_id}}"></paper-input>

                                <paper-input type="text" name="bot_prefix" allowed-pattern="[0-9a-z\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|`=~,_!#%&amp;&lt;&gt;&quot;:;']"
                                    required label="Default prefix" value="{{config.bot_prefix}}"></paper-input>

                                <paper-input type="text" name="bot_name" allowed-pattern="[0-9a-zA-Z]" required label="Bot name" value="{{config.bot_name}}"></paper-input>

                                <paper-input type="text" name="permissions_token" allowed-pattern="[0-9]" label="Invite permission token" value="{{config.permissions_token}}"></paper-input>

                                <paper-input type="text" name="support_server_token" allowed-pattern="[0-9a-zA-Z\.]" label="Bot support server token" value="{{config.support_server_token}}"></paper-input>

                                <paper-input type="text" name="custom_invite" label="Custom bot invite url" value="{{config.custom_invite}}"></paper-input>

                                <paper-input type="text" name="bot_url" label="Server hostname" value="{{config.bot_url}}"></paper-input>

                                <paper-dropdown-menu label="Logging mode" name="log_level" required>
                                    <paper-listbox attr-for-selected="value" selected="info" class="dropdown-content" slot="dropdown-content">
                                        <paper-item value="info">Info</paper-item>
                                        <paper-item value="debug">Debug</paper-item>
                                        <paper-item value="verbose">Verbose</paper-item>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                                <br>
                                <paper-checkbox name="file_logging" value="true">Enable file logging</paper-checkbox>
                            </div>
                        </div>
                        <div class="card-actions">
                            <div id="button-strip">
                                <div class="right">
                                    <paper-button class="save" on-click="_submit" raised>Save</paper-button>
                                </div>
                            </div>
                        </div>
                    </paper-card>
                </form>
            </iron-form>
            <custom-style>
                <style is="custom-style">
                    #toast-error {
                        --paper-toast-background-color: red;
                        --paper-toast-color: white;
                    }

                    #toast-ok {
                        --paper-toast-background-color: green;
                        --paper-toast-color: white;
                    }
                </style>
            </custom-style>

            <paper-toast id="toast-error" class="fit-bottom" text=""></paper-toast>
            <paper-toast id="toast-ok" class="fit-bottom" text=""></paper-toast>
        </div>
    </template>

    <script>
        class MyView3 extends Polymer.Element {
            static get is() { return 'sb-config'; }
            constructor() {
                super();
                this.form1 = null;
                this.error = null;
                this.ok = null;
                this.wrapper = null;
            }
            ready() {
                super.ready();
                this.form = this.$.form1;
                this.error = this.$['toast-error'];
                this.ok = this.$['toast-ok'];
                this.wrapper = this.$.wrapper;
                this.error.fitInto = this.offsetParent;
                this.ok.fitInto = this.offsetParent;
                this.form.allowRedirect = false;
                // this.form1.addEventListener('iron-form-submit', (event) => {
                //     this.$.output.innerHTML = JSON.stringify(event.detail);
                // });
                this.form.addEventListener('iron-form-presubmit', (event) => {
                    event.target.request.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                });
                this.form.addEventListener('iron-form-error', (event) => {
                    this.error.$.label.textContent = event.detail.error.message;
                    this.error.open();
                });
                this.form.addEventListener('iron-form-response', (event) => {
                    let res = event.detail.__data.response;
                    if (res.error) {
                        this.error.$.label.textContent = res.message;
                        this.error.open();
                    } else {
                        this.ok.$.label.textContent = res.message;
                        this.ok.open();
                    }
                })
            }

            initStoredUser() {
                if (this.storedUser.loggedin) {
                    this.loadConfiguration();
                }
            }

            loadConfiguration() {
                // add token authorization and generate Ajax request
                this.$.getConfig.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                this.$.getConfig.generateRequest();
            }

            _submit(event) {
                this.form.submit();
            }

            _validate() {
                this.form.validate();
            }
        }

        window.customElements.define(MyView3.is, MyView3);
    </script>
</dom-module>