<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="sb-info">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }

            table {
                font-size: 12px;
                line-height: 1.7;
                text-align: center;
                background-color: rgb(68, 68, 68);
            }

            table tr {
                border: none;
            }

            th,
            td {
                padding: 10px;
                vertical-align: middle;
                border: 0px 0px 0px 0px;
            }

            td,
            th {
                border: none;
                border-width: 0px 0px 0px;
            }

            table thead td,
            table thead th {
                border-width: 0px 0px 0px;
            }

            table td,
            table th {
                border-width: 0px 0px 0px;
            }

            table thead th {
                position: sticky;
                top: 0;
                font-weight: 700;
                text-transform: uppercase;
            }

            table thead {
                background-color: rgb(92, 92, 92);
            }

            a,
            a:link,
            a:visited {
                color: var(--app-primary-color2);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .card,
            h1 {
                background-color: var(--app-primary-background-color);
                color: rgb(189, 189, 189);
            }

            .center {
                margin: auto;
                width: 75%;
                padding: 10px;
                text-align: center;
            }

            code {
                background-color: var(--app-secondary-color);
                color: var(--app-primary-color2);
                font-size: 0.875em;
                font-weight: normal;
                padding: 0.25em 0.5em 0.25em;
            }

            code,
            pre {
                -moz-osx-font-smoothing: auto;
                -webkit-font-smoothing: auto;
                font-family: monospace;
            }

            p {
                padding-left: 2em;
            }
        </style>

        <iron-ajax id="getInfo" method="get" url="/info" handle-as="json" last-response="{{info}}"></iron-ajax>

        <div class="card">
            <div class="center">
                <p class="center">
                    <img alt="FlutterBot"
                        src="//cdn.discordapp.com/attachments/452398197403418635/521565345308344325/skittybot.png"
                        style="width:75%"></img>
                </p>
                <p class="center">
                    Experimental Multi-purpose Bot With a Pony Theme That Isn't All About Ponies.
                </p>
            </div>

            <div class="content">

                <h1>Welcome to {{info.bot_name}}'s web app</h1>

                <p>
                    Click on the <a href="/botsys/sb-commands">commands</a> button to see a list of all my commands in
                    one page.<br>
                    For any questions, help, suggestions, and complaints, consider <a
                        href={{info.support_server}}>visiting my guild!</a><br>
                    I'm a public bot, so you can <a href={{info.bot_invite}}>invite me to your guild.</a>
                </p>

                <h2>Getting started</h2>

                <p>
                    Set a prefix for your server: <code>@FlutterBot prefix !</code><br>
                    Then use the <code>!help</code> command. It's that simple.<br>
                    There are a variety of command modules or categories, get a list of them all with:
                    <code>!modules</code><br>
                    Use the <code>!help</code> on a command to print detailed help for that command:
                    <code>!help command</code>.<br>
                    You can even use the <code>!help</code> command on module names to get a list of all commands in
                    that module category.
                </p>

                <h2>What can the bot do?</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Roleplay</td>
                            <td>Customizable roleplay commands, add and use your own images and text!</td>
                        </tr>
                        <tr>
                            <td>Automatic reactions</td>
                            <td>Customizable reactions to user messages.</td>
                        </tr>
                        <tr>
                            <td>Searches</td>
                            <td>Search movies, steam games, reddit, YouTube, and more...</td>
                        </tr>
                        <tr>
                            <td>Chat Bot</td>
                            <td>Experimental GPT-2/NLP based Chat bot.</td>
                        </tr>
                        <tr>
                            <td>GPT-2 Autocomplete</td>
                            <td>Autocomplete your text with OpenAI's GPT-2 345M.</td>
                        </tr>
                        <tr>
                            <td>TL;DR</td>
                            <td>Functionality to summarize news article links, can be set to run automatically when
                                links are posted.</td>
                        </tr>
                        <tr>
                            <td>Reddit bot</td>
                            <td>Allows users to subscribe to a subreddit in a channel.</td>
                        </tr>
                        <tr>
                            <td>Twitter bot</td>
                            <td>Follow twitter users in a channel.</td>
                        </tr>
                        <tr>
                            <td>User Reminders</td>
                            <td>Want to make sure you remember something? Create and manage reminders.</td>
                        </tr>
                        <tr>
                            <td>Self-assignable roles</td>
                            <td>Create lists of roles users on your server can self-assign with a command. (no reaction
                                roles)</td>
                        </tr>
                        <tr>
                            <td>Welcome messages</td>
                            <td>user join and leave event handling with messages and role assignments.</td>
                        </tr>
                        <tr>
                            <td>Starboard</td>
                            <td>Create a starboard for popular posts in your channels or allow users to pin messages
                                witthout deletion perms.</td>
                        </tr>
                        <tr>
                            <td>Graphics</td>
                            <td>Edit pics, add meme video overlays to images, apply filters and more.</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Further help</h2>

                <p>
                    Due to how some of the commands have configurable behavior, some of my commands can be a bit
                    complicated and require
                    using flags or sub-commands.<br>
                    Some examples being welcome messages, self-assignable roles, starboard setup, and 4chan
                    commands.<br>
                    If you're having trouble with the bot or working with some of these commands, you're more than
                    welcome to join <a href={{info.bot_invite}}>my server</a> and ask any questions.
                </p>

            </div>

        </div>

    </template>

    <script>
        class SkittyBotInfo extends Polymer.Element {
            static get is() { return 'sb-info'; }

            static get properties() {
                return {
                    formData: {
                        type: Object,
                        value: {}
                    }
                }
            }

            ready() {
                super.ready();
                this.$.getInfo.generateRequest();
            }

        }
        window.customElements.define(SkittyBotInfo.is, SkittyBotInfo);
    </script>
</dom-module>