<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="sb-login">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }

            .wrapper {
                margin: 20px auto 20px;
            }

            paper-card {
                width: 300px;
                margin: 0 auto 0;
                padding: 40px 40px;
                display: block;
            }

            .wrapper-btns {
                margin-top: 15px;
            }

            paper-button.link {
                color: #757575;
            }

            .alert-error {
                background: #ffcdd2;
                border: 1px solid #f44336;
                border-radius: 3px;
                color: #333;
                font-size: 14px;
                padding: 10px;
            }

            input {
                position: relative;
                /* to make a stacking context */
                outline: none;
                box-shadow: none;
                margin: 0;
                padding: 0;
                width: 100%;
                max-width: 100%;
                background: transparent;
                border: none;
                color: var(--paper-input-container-input-color, var(--primary-text-color));
                -webkit-appearance: none;
                text-align: inherit;
                vertical-align: bottom;
                /* Firefox sets a min-width on the input, which can cause layout issues */
                min-width: 0;
                @apply --paper-font-subhead;
                @apply --paper-input-container-input;
            }
        </style>

        <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="text" on-response="handleUserResponse"
            on-error="handleUserError">
        </iron-ajax>

        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

        <app-location route="{{route}}"></app-location>

        <div class="wrapper">
            <paper-card image="./images/skittybot.png">
                <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
                    <h1>Sign In</h1>

                    <p>
                        <strong>Sign in</strong> to configure SkittyBot.
                    </p>

                    <template is="dom-if" if="[[error]]">
                        <p class="alert-error">
                            <strong>Error:</strong> [[error]]</p>
                    </template>

                    <paper-input-container>
                        <label slot="input">Username</label>
                        <iron-input slot="input" bind-value="{{formData.username}}">
                            <input id="username" type="text" value="{{formData.username}}" placeholder="Username">
                        </iron-input>
                    </paper-input-container>

                    <paper-input-container>
                        <label>Password</label>
                        <iron-input slot="input" bind-value="{{formData.password}}">
                            <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
                        </iron-input>
                    </paper-input-container>

                    <div class="wrapper-btns">
                        <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
                        <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
                    </div>
                </div>
                <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
                    <p>You are currently logged in. </p>
                    <log-out stored-user="{{storedUser}}"></log-out>
                </div>
            </paper-card>
        </div>
    </template>

    <script>
        class SkittyBotLogin extends Polymer.Element {
            static get is() { return 'sb-login'; }

            static get properties() {
                return {
                    formData: {
                        type: Object,
                        value: {}
                    }
                }
            }

            _setReqBody() {
                this.$.registerLoginAjax.body = this.formData;
            }

            postLogin() {
                this.$.registerLoginAjax.url = '/auth';
                this._setReqBody();
                this.$.registerLoginAjax.generateRequest();
            }

            postRegister() {
                this.$.registerLoginAjax.url = '/createmanager';
                this._setReqBody();
                this.$.registerLoginAjax.generateRequest();
            }

            handleUserResponse(event) {
                var response = JSON.parse(event.detail.response);

                if (response.id_token) {
                    this.error = '';
                    this.storedUser = {
                        name: this.formData.username,
                        id_token: response.id_token,
                        access_token: response.access_token,
                        loggedin: true
                    };

                    this.set('route.path', `${window.Polymer.rootPath}sb-config`);
                }

                // reset form data
                this.formData = {};
            }

            handleUserError(event) {
                this.error = event.detail.request.xhr.response;
            }

        }
        window.customElements.define(SkittyBotLogin.is, SkittyBotLogin);
    </script>
</dom-module>