<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="shared-styles.html">

<link rel="import" href="plugin-item.html">

<dom-module id="sb-plugins">
    <template>
        <style include="iron-flex"></style>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }

            iron-list {
                margin-top: 18px;
            }

            #wrapper {
                display: flex;
                flex-direction: column;
                max-height: 180px;
                max-width: 400px;
                width: 100%;
            }

            plugin-item {
                min-height: 160px;
            }
        </style>

        <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

        <iron-ajax id="getPlugins" url="/api/plugins.json" last-response="{{config}}"></iron-ajax>

        <iron-list scroll-target="document" items="[[config]]" as="plugin" grid>
            <template>
                <div id="wrapper" class="layout horizontal">
                    <plugin-item plugin="{{plugin}}"></plugin-item>
                </div>
            </template>
        </iron-list>

    </template>

    <script>
        class PluginLoader extends Polymer.Element {
            static get is() { return 'sb-plugins'; }

            constructor() {
                super();
                // this.loadedPlugins = null;
            }

            initStoredUser() {
                if (this.storedUser.loggedin) {
                    this.loadConfiguration();
                }
            }

            loadConfiguration() {
                // this.loadedPlugins = true;
                this.$.getPlugins.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                this.$.getPlugins.generateRequest();
            }
            // ready() {
            //     super.ready();
            //     this.initStoredUser();
            // }
        }
        window.customElements.define(PluginLoader.is, PluginLoader);
    </script>
</dom-module>