<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<dom-module id="sb-search">
    <template>
        <style>
            #search-container {
                @apply --layout-horizontal;
                @apply --layout-center;
                transition: .2s cubic-bezier(.4, 0, .2, 1);
                width: 40px;
            }

            :host([active]) #search-container {
                width: var(--sb-search-width, 262px);
            }

            :host([active]) #input {
                display: block;
                @apply --layout-flex;
                @apply --sb-search-input;
            }

            #input {
                display: none;
            }

            paper-icon-button {
                opacity: 0.7;
            }


            paper-input {
                display: block;
                box-sizing: border-box;
                font-size: 16px;
                font-weight: 100;

                --paper-input-container: {
                    border: none;
                }

                --paper-font-subhead: {
                    font-size: 100%;
                }

                --paper-input-container-underline-focus: {
                    display: none;
                }

                --paper-input-container-underline: {
                    display: none;
                }

                --paper-input-container-label: {
                    color: white;
                    opacity: 0.7;
                    padding-top: 3px;
                }

                --paper-input-container-label-floating: {
                    -webkit-transform: none;
                    transform: none;
                    width: var(--comps-input-label-width, 100px);
                }

                --paper-input-container: {
                    padding: 1px 0;
                    background: rgba(0, 0, 0, 0.22);
                }

                --paper-input-container-input: {
                    color: white;
                    font-size: 12px;
                    padding-top: 3px;
                    font-weight: 100;
                }

            }

            paper-input {
                padding-right: 10px;
            }
        </style>

        <div id="search-container">

            <paper-input value="{{term}}" id="input" no-label-float label="[[inputLabel]]">
                <paper-icon-button icon="icons:search" slot="prefix"></paper-icon-button>
                <!-- <paper-icon-button on-click="hideSearch" slot="suffix" icon="icons:close"></paper-icon-button> -->
            </paper-input>
        </div>

    </template>

    <script>
        class SkittyBotSearch extends Polymer.Element {
            static get is() { return 'sb-search'; }
            static get properties() {
                return {

                    /**
                     * Indicates if the search bar is visible
                     */
                    active: {
                        type: Boolean,
                        notify: true,
                        reflectToAttribute: true
                    },

                    /**
                     * Text of the search input
                     */
                    term: {
                        type: String,
                        notify: true
                    },

                    /**
                     * Label of the search input
                     */
                    inputLabel: {
                        type: String,
                        value: "Search"
                    }
                };
            }

            /**
             * Shows the search input
             */
            showSearch() {
                this.active = true;
                this.$.input.focus();
            }

            /**
             * Hides the search input
             */
            hideSearch() {
                this.active = false;
                this.term = "";
            }

        }

        window.customElements.define(SkittyBotSearch.is, SkittyBotSearch);
    </script>
</dom-module>